/* Your code goes below here */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bolder;
  }
  
  h2 {
    font-size: 36px;
    font-style: inherit;
  }
  
  h3 {
    font-size: 24px;
    font-stretch: narrower;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
/* Your code goes above here */